{% extends 'base.html' %}

{% load static %}

{% block title %} Blogs {% endblock title %}

{% block content %}
<section class="section sec4" id="blogs">
    <div class="blogs-content">
        <div class="main-title">
            <h2> Literature <span>review</span></h2>
        </div>
        <div class="blogs">
            <div class="blog">
                <a href="#" target="_blank">
                <img src="{% static 'img/port6.jpg' %}" alt="" style="width: 300px; height: 300px">
                </a>
                <div class="blog-text">
                    <h4>
                        Skin lesions classification using deep learning
                    </h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
            <div class="blog">
                <img src="{% static 'img/blog1.jpg' %}" alt="">
                <div class="blog-text">
                    <h4>
                        efffff
                    </h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Doloribus natus voluptas, eos obcaecati recusandae amet?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}