{% load static %}

<div class="controlls">
    <!-- dataset is data-id -->
    <a href="{% url 'home' %}" class="control control-1 active-btn"><i class="fa-solid fa-house"></i></a>
    <a href="{% url 'about' %}" class="control control-2"><i class="fa-solid fa-user"></i></a>

    <!-- <div class="control control-1 active-btn">
        <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    </div> -->
    <a href="{% url 'blog' %}" class="control control-2"><i class="fa-solid fa-code"></i></a>
    <!-- <div class="control control-1 active-btn">
        <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    </div> -->


    <!-- <a href="{% url 'home' %}" class="control control-1 active-btn"><i class="fa-solid fa-house"></i></a>
    <a href="{% url 'about' %}" class="control control-2"><i class="fa-solid fa-user"></i></a>
    <div class="control control-3" data-id="portfolio">
        <i class="fa-solid fa-briefcase"></i>
    </div>
    <a href="{% url 'blog' %}" class="control control-4"><i class="fa-solid fa-code"></i></a>
    <div class="control control-5" data-id="contact">
        <i class="fa-solid fa-envelope-open"></i>
    </div> -->
</div>

